# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# 打包生成的文件
dist/
build/
*.spec

# 环境变量文件
.env